
body{
    display: flex;
    justify-content: center;
}
.mark{
    text-decoration: line-through;
}
.container{
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 30px;
}
.fa-trash{
    color: red;
    padding: 10 10 10 10;
}
.fa-pen-to-square{
    color: green;
    padding: 10px 10px 10px 10px;
}